<div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <img src="https://static.patiotuerca.com/ghost/ecuador/2023/02/Jetour-X70-Plus.jpg" class="d-block" style="height: 80vh; width: 100%;" alt="Jetour rojo">
      <div class="carousel-caption d-none d-md-block">
        <h2>Change your life</h2> 
        <h4>...change your Car</h4>      
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="https://static.patiotuerca.com/ghost/ecuador/2023/02/KIA-Soluto-2.jpg" class="d-block" style="height: 80vh; width: 100%;" alt="Kia Soluto turquesa oscuro">
      <div class="carousel-caption d-none d-md-block">
        <h2>Change your life</h2> 
        <h4>...change your Car</h4>       
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="https://static.patiotuerca.com/ghost/ecuador/2023/02/Chevrolet-Captiva.jpg" class="d-block" style="height: 80vh; width: 100%;" alt="Chevrolet Captiva gris">
      <div class="carousel-caption d-none d-md-block">
        <h2>Change your life</h2> 
        <h4>...change your Car</h4>       
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="10000">
      <img src="https://static.patiotuerca.com/ghost/ecuador/2023/02/Great-Wall-Wingle.jpg" class="d-block" style="height: 80vh; width: 100%;" alt="Great Wall Wingle gris">
      <div class="carousel-caption d-none d-md-block">
        <h2>Change your life</h2> 
        <h4>...change your Car</h4>       
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>